<div id="<%= dom_id comment %>">
  <div class="card" style="width: 100%">
    <div class="card-body">
      <h5 class="card-title"><%= comment.user %></h5>
      <p class="card-text"><%= comment.description %></p>     
    </div>
  </div>
</div>
