<div class="row">
  <div class="col-lg-8">
    <h1 class="mb-5 font-45">Noticias</h1>

    <div id="news">
      <% @news.each do |news| %>
        <div class="card mb-3" style="width: 100%;">
          <div class="card-body">
            <%= render news %>
          
            <div class="d-flex justify-content-end">
              <%= link_to "Ver más", show_and_new_comment_news_path(news), class:"btn btn-outline-primary" %>
            </div>
          </div>
        </div>
      <% end %>
      </div>
   </div>
</div>




